{
  "swagger": "2.0",
  "info": {
    "title": "Fattmerchant Omni API",
    "version": "0.0.1",
    "description": "Fattmerchant Omni REST API for Node.js"
  },
  "host": "apiprod.fattlabs.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/ephemeral": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJtZXJjaGFudCI6IjI3ZmFkNWU0LTAyMTAtNGM5MS05NTk2LTQxN2IwZWEwZGJiMSIsInN1YiI6IjZiNWUwMzM3LTgxN2QtNDAyNS04NzI5LTYzNzAxNzMyOTVhOSIsImlzcyI6Imh0dHBzOlwvXC9hcGlkZXYwMS5mYXR0bGFicy5jb21cL2F1dGhlbnRpY2F0ZSIsImlhdCI6MTQ2Mjk4NzI0OSwiZXhwIjoxNDYzMDczNjQ5LCJuYmYiOjE0NjI5ODcyNDksImp0aSI6ImIyMDFjNmNlYWMwNzQyNGUxZGFlZmI2YmUyZjA0MDNkIn0.BUYP6rVs5ylmLM524eA7gY50ECT4reZSO6aZVijLNrM"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "examples": {
              "application/json": {
                "error": "invalid_token"
              }
            }
          }
        },
        "summary": "Generate an Ephemeral Token",
        "operationId": "Generate an Ephemeral Token",
        "description": "**NOTE: This route assumes you have generated an api key within your production OR sandbox OMNI account.**\n\nPassing this api key as your Bearer token (Authorization header), this route will exchange your permanent api key with a short lived ephemeral token to be used for subsequent calls. This route is especially useful for passing the short lived token to a mobile client if you are storing the real api key on your server.\n\nYou should never expose an api key to a browser or client.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/bill/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "a2823496-03b4-459c-80de-3a80b0b3fd22",
                "status": "PARTIALLY APPLIED",
                "total": 12,
                "meta": {
                  "tax": 2,
                  "subtotal": 10
                },
                "created_at": "2017-01-11 21:27:24",
                "sent_at": null,
                "viewed_at": "2017-05-05 19:08:11",
                "paid_at": null,
                "payment_attempt_failed": false,
                "payment_attempt_message": "",
                "balance_due": 12,
                "total_paid": 0,
                "url": "https://omni.fattmerchant.com/#/bill/",
                "merchant": {
                  "company_name": "Here",
                  "contact_phone": "8555503288",
                  "address_1": "25 Wall Street",
                  "address_2": "Suite 1",
                  "address_city": "Orlando",
                  "address_state": "FL",
                  "address_zip": "32801",
                  "branding": {
                    "id": "af82b215-6081-42b0-b494-fbda189ce8f9",
                    "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                    "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                    "name": "",
                    "public_url": "https://s3-us-west-2.amazonaws.com/fattpaydocuments/branding/af82b215-6081-42b0-b494-fbda189ce8f9.png",
                    "tag": "branding",
                    "meta": {
                      "filesize_bytes": 3938556,
                      "filesize": "3.94 MB",
                      "extension": "png",
                      "size": {
                        "width": 3072,
                        "height": 1728
                      },
                      "mime": "image/png"
                    },
                    "created_at": "2017-04-19 15:50:41",
                    "updated_at": "2017-04-19 15:50:52",
                    "deleted_at": null
                  },
                  "options": {
                    "social": {
                      "website_url": "http://google.com",
                      "facebook_url": "http://google.com",
                      "instagram_url": "http://google.com",
                      "twitter_url": "http://google.com",
                      "linkedin_url": "http://google.com"
                    }
                  },
                  "allow_ach": true
                },
                "customer": {
                  "email": "john@abc.com",
                  "firstname": "Jesus",
                  "lastname": "Christmas3",
                  "company": "ABC INC"
                },
                "payment_method": null,
                "schedule": null,
                "transactions": [],
                "files": []
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "id": [
                  "Invalid bill id."
                ]
              }
            }
          }
        },
        "summary": "Get a Bill's Information",
        "operationId": "Get a Bill's Information",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Valid Bill ID Required**\n\nRetrieves the bill matching the given bill id.\nThis will list any information about the bill which can be seen in the 200 response below.\nThis function will also show the merchant whether or not it has been viewed and when. \nThe bill id can be found in the URL.\n\n**Changes to Responses:**\n\n* Merchant, schedule and customer information is now stored under `merchant[]`, `schedule[]` and `customer[]` objects respectively.\n\n* If an invoice doesn't have a `payment-method`, the `schedule.payment_method` will be `null`.\n\n* When a bill belongs to an inactive schedule, `schedule.active` will be `false`. Making `future_occurrences` an empty set and `next_run_at` is null.\n\n* When inactive, the invoice generator is put on hold. If invoice is `deleted_at`, it will not run or generate future occurrences.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id value.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/bill/{id}/payment-method": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "a2823496-03b4-459c-80de-3a80b0b3fd22",
                "status": "PARTIALLY APPLIED",
                "total": 12,
                "meta": {
                  "tax": 2,
                  "subtotal": 10
                },
                "created_at": "2017-01-11 21:27:24",
                "sent_at": null,
                "viewed_at": "2017-05-05 19:08:11",
                "paid_at": null,
                "payment_attempt_failed": false,
                "payment_attempt_message": "",
                "balance_due": 12,
                "total_paid": 0,
                "url": "https://omni.fattmerchant.com/#/bill/",
                "merchant": {
                  "company_name": "Here",
                  "contact_phone": "8555503288",
                  "address_1": "25 Wall Street",
                  "address_2": "Suite 1",
                  "address_city": "Orlando",
                  "address_state": "FL",
                  "address_zip": "32801",
                  "branding": {
                    "id": "af82b215-6081-42b0-b494-fbda189ce8f9",
                    "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                    "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                    "name": "",
                    "public_url": "https://s3-us-west-2.amazonaws.com/fattpaydocuments/branding/af82b215-6081-42b0-b494-fbda189ce8f9.png",
                    "tag": "branding",
                    "meta": {
                      "filesize_bytes": 3938556,
                      "filesize": "3.94 MB",
                      "extension": "png",
                      "size": {
                        "width": 3072,
                        "height": 1728
                      },
                      "mime": "image/png"
                    },
                    "created_at": "2017-04-19 15:50:41",
                    "updated_at": "2017-04-19 15:50:52",
                    "deleted_at": null
                  },
                  "options": {
                    "social": {
                      "website_url": "http://google.com",
                      "facebook_url": "http://google.com",
                      "instagram_url": "http://google.com",
                      "twitter_url": "http://google.com",
                      "linkedin_url": "http://google.com"
                    }
                  },
                  "allow_ach": true
                },
                "customer": {
                  "email": "john@abc.com",
                  "firstname": "Jesus",
                  "lastname": "Christmas3",
                  "company": "ABC INC"
                },
                "payment_method": {
                  "id": "56429605-c218-45c5-8993-324bea3c5ba8",
                  "method": "card",
                  "card_type": "mastercard",
                  "card_last_four": "4444",
                  "card_exp": "042018",
                  "nickname": "MASTERCARD: Daniel Walker (ending in: 4444)",
                  "created_at": "2017-05-05 19:20:30"
                },
                "schedule": null,
                "transactions": [],
                "files": []
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "errors": [
                  "Year is expired"
                ]
              }
            }
          }
        },
        "summary": "Create a Payment Method for a Bill",
        "operationId": "Create a Payment Method for a Bill",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Authentication Token, Active Team and Enabled Team Required**\n\nSets the `payment_method` to be the selected bill. \nThe two choice are `card` or `bank`. \nThis function will generated a `payment_method_id` to be passed into the body of `[POST /bill/{id}/pay]'.\nThis sets up the credit card or banking information needed for processing the bill. \nCan only create a `payment_method` and, for security purposes, will not be able to view them.\n`card_type` is not required, but must be less than 10 characters. \nIf not supplied, will auto-detect one of the following: amex, dinersclub, discover, jcb, mastercard, visa or null.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "method": {
                  "type": "string"
                },
                "is_default": {
                  "type": "string"
                },
                "person_name": {
                  "type": "string"
                },
                "card_type": {
                  "type": "string"
                },
                "card_number": {
                  "type": "string"
                },
                "card_exp": {
                  "type": "string"
                },
                "card_cvv": {
                  "type": "string"
                },
                "address_zip": {
                  "type": "string"
                }
              },
              "example": {
                "method": "bank",
                "is_default": "1",
                "person_name": "Bob Smith",
                "card_type": "visa",
                "card_number": "4111111111111111",
                "card_exp": "0417",
                "card_cvv": "4444",
                "address_zip": "34112"
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id value.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/bill/{id}/pay": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "a2823496-03b4-459c-80de-3a80b0b3fd22",
                "status": "PAID",
                "total": 12,
                "meta": {
                  "tax": 2,
                  "subtotal": 10
                },
                "created_at": "2017-01-11 21:27:24",
                "sent_at": null,
                "viewed_at": "2017-05-05 19:41:54",
                "paid_at": "2017-05-05 19:42:04",
                "payment_attempt_failed": false,
                "payment_attempt_message": "",
                "balance_due": 0,
                "total_paid": 12,
                "url": "https://omni.fattmerchant.com/#/bill/",
                "merchant": {
                  "company_name": "Here",
                  "contact_phone": "8555503288",
                  "address_1": "25 Wall Street",
                  "address_2": "Suite 1",
                  "address_city": "Orlando",
                  "address_state": "FL",
                  "address_zip": "32801",
                  "branding": {
                    "id": "af82b215-6081-42b0-b494-fbda189ce8f9",
                    "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                    "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                    "name": "",
                    "public_url": "https://s3-us-west-2.amazonaws.com/fattpaydocuments/branding/af82b215-6081-42b0-b494-fbda189ce8f9.png",
                    "tag": "branding",
                    "meta": {
                      "filesize_bytes": 3938556,
                      "filesize": "3.94 MB",
                      "extension": "png",
                      "size": {
                        "width": 3072,
                        "height": 1728
                      },
                      "mime": "image/png"
                    },
                    "created_at": "2017-04-19 15:50:41",
                    "updated_at": "2017-04-19 15:50:52",
                    "deleted_at": null
                  },
                  "options": {
                    "social": {
                      "website_url": "http://google.com",
                      "facebook_url": "http://google.com",
                      "instagram_url": "http://google.com",
                      "twitter_url": "http://google.com",
                      "linkedin_url": "http://google.com"
                    }
                  },
                  "allow_ach": true
                },
                "customer": {
                  "email": "john@abc.com",
                  "firstname": "Jesus",
                  "lastname": "Christmas3",
                  "company": "ABC INC"
                },
                "payment_method": {
                  "id": "0e0c52f9-4988-4bcc-ac27-6fc463279259",
                  "method": "card",
                  "card_type": "mastercard",
                  "card_last_four": "4444",
                  "card_exp": "042018",
                  "nickname": "MASTERCARD: Daniel Walker (ending in: 4444)",
                  "created_at": "2017-05-05 19:41:55"
                },
                "schedule": null,
                "transactions": [
                  {
                    "id": "5f38f04f-dc2f-44c4-ba3a-385c90dfeb0b",
                    "invoice_id": "a2823496-03b4-459c-80de-3a80b0b3fd22",
                    "success": true,
                    "message": null,
                    "type": "charge",
                    "created_at": "2017-05-05 19:42:03",
                    "last_four": "4444",
                    "total": 12,
                    "method": "card",
                    "total_refunded": null,
                    "is_voided": false,
                    "schedule_id": null,
                    "customer": null,
                    "child_transactions": [],
                    "files": [],
                    "payment_method": null,
                    "user": null
                  }
                ],
                "files": []
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "paid_at": [
                  "The bill is already paid."
                ]
              }
            }
          }
        },
        "summary": "Pay a Bill",
        "operationId": "Pay a Bill",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Unpaid Bill ID Required**\n\nThis processes the bill and sends the money from the customer to the merchant. \nThe payment method charged is given in the `[POST /bill/{id}/payment-method]` call and passed into this call.\nThe invoice tied to the bill will be updated to a `paid` status.\nOnce fully paided off, the bill can no longer be edited and cannot be charged again.\nIt is possible for a customer to partially pay a bill and pay the rest later.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "payment_method_id": {
                  "type": "string"
                },
                "email_receipt": {
                  "type": "string"
                }
              },
              "example": {
                "payment_method_id": "d907e172-78a5-49ae-b233-f525c8a7e5bc",
                "email_receipt": "1"
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id value.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/item": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "total": 2,
                "per_page": 25,
                "current_page": 1,
                "last_page": 1,
                "next_page_url": null,
                "prev_page_url": null,
                "from": 1,
                "to": 2,
                "data": [
                  {
                    "id": "79256d84-3930-4e4b-bc71-9c6587cfc65c",
                    "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                    "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                    "thumbnail_id": null,
                    "item": "meeseeks",
                    "code": "aaaa",
                    "details": "just a test item",
                    "is_active": true,
                    "is_taxable": false,
                    "is_service": false,
                    "is_discount": false,
                    "price": 7.11,
                    "in_stock": 0,
                    "meta": [],
                    "created_at": "2017-05-05 19:49:21",
                    "updated_at": "2017-05-05 19:49:21",
                    "deleted_at": null,
                    "deprecation_warning": "The name and decription fiels will be deprecated on 7/1/17",
                    "user": {
                      "id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                      "system_admin": false,
                      "name": "Test Guy",
                      "email": "demo@fattmerchant.com",
                      "email_verification_sent_at": "2017-03-29 15:27:19",
                      "email_verified_at": "2017-03-29 15:27:21",
                      "is_api_key": false,
                      "created_at": "2017-01-11 21:44:02",
                      "updated_at": "2017-04-24 15:41:58",
                      "deleted_at": null,
                      "gravatar": "//www.gravatar.com/avatar/157965dea7cd2f44e349382d1d791650",
                      "team_admin": null,
                      "team_enabled": null,
                      "team_role": null
                    },
                    "files": [],
                    "thumbnail": null
                  },
                  {
                    "id": "62c6c812-36e6-4037-9569-caa1dfe968de",
                    "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                    "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                    "thumbnail_id": null,
                    "item": "Meeseeks Box",
                    "code": null,
                    "details": null,
                    "is_active": true,
                    "is_taxable": false,
                    "is_service": true,
                    "is_discount": true,
                    "price": 55,
                    "in_stock": 0,
                    "meta": [],
                    "created_at": "2017-05-05 19:55:05",
                    "updated_at": "2017-05-05 19:55:06",
                    "deleted_at": null,
                    "deprecation_warning": "The name and decription fiels will be deprecated on 7/1/17",
                    "user": {
                      "id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                      "system_admin": false,
                      "name": "test guy",
                      "email": "demo@fattmerchant.com",
                      "email_verification_sent_at": "2017-03-29 15:27:19",
                      "email_verified_at": "2017-03-29 15:27:21",
                      "is_api_key": false,
                      "created_at": "2017-01-11 21:44:02",
                      "updated_at": "2017-04-24 15:41:58",
                      "deleted_at": null,
                      "gravatar": "//www.gravatar.com/avatar/157965dea7cd2f44e349382d1d791650",
                      "team_admin": null,
                      "team_enabled": null,
                      "team_role": null
                    },
                    "files": [
                      {
                        "id": "cc5d4376-8a76-4de1-8fc1-b9135be5f26f",
                        "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                        "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                        "name": "meeseeks.png",
                        "public_url": "https://s3-us-west-2.amazonaws.com/fattpaydocuments/cc5d4376-8a76-4de1-8fc1-b9135be5f26f.png",
                        "tag": null,
                        "meta": {
                          "filesize_bytes": 14181,
                          "filesize": "0.14 kB",
                          "extension": "png",
                          "size": {
                            "width": 128,
                            "height": 128
                          },
                          "mime": "image/png"
                        },
                        "created_at": "2017-05-05 19:55:00",
                        "updated_at": "2017-05-05 19:55:01",
                        "deleted_at": null
                      }
                    ],
                    "thumbnail": null
                  }
                ]
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "sort": [
                  "The selected sort is invalid."
                ],
                "order": [
                  "The selected order is invalid."
                ],
                "is_active": [
                  "The is active field must be true or false."
                ]
              }
            }
          }
        },
        "summary": "Retrieve All Catalog Items",
        "operationId": "Retrieve All Catalog Items",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Authentication Token, Active Team and Enabled Team Required**\n\nRetrieves all the items saved under a merchant's catalog.\nThe items may be searched using keywords to find specific items, such as using `keywords[]=red`.\nThe items may also be filtered and sorted using certain parameters found below.\nName and description fields will be deprecated on 07/01/17.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "9cf3bd88-da1b-4f35-a5a1-74153c8e7f28",
                "user_id": "2d089742-6aca-462d-8db3-c2966e1f9e68",
                "merchant_id": "a61d78cc-cde9-44ac-8a18-30c39be05879",
                "thumbnail_id": null,
                "item": "test item",
                "code": "aaaa",
                "category": "essential items",
                "details": "just a test item",
                "is_active": true,
                "is_taxable": false,
                "is_service": false,
                "is_subscription": false,
                "is_discount": false,
                "price": 7.11,
                "in_stock": 0,
                "low_stock_alert": 3,
                "meta": [],
                "created_at": "2018-10-02 14:28:50",
                "updated_at": "2018-10-02 14:28:50",
                "deleted_at": null,
                "user": {
                  "id": "2d089742-6aca-462d-8db3-c2966e1f9e68",
                  "system_admin": true,
                  "name": "Morty Junior",
                  "email": "demo@fattmerchant.com",
                  "email_verification_sent_at": "2018-09-26 18:24:21",
                  "email_verified_at": "2016-05-11 17:13:33",
                  "is_api_key": false,
                  "acknowledgments": {
                    "signedApplication": true,
                    "editedOnboardingInformation": false,
                    "tutorial": true,
                    "godviewWelcome": true
                  },
                  "created_at": "2016-05-18 14:11:46",
                  "updated_at": "2018-09-26 18:24:21",
                  "deleted_at": null,
                  "gravatar": "//www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8",
                  "team_admin": null,
                  "team_enabled": null,
                  "team_role": null,
                  "merchant_options": [],
                  "is_default": false
                },
                "files": [],
                "thumbnail": null
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "item": [
                  "The item field is required."
                ]
              }
            }
          }
        },
        "summary": "Create a Catalog Item",
        "operationId": "Create a Catalog Item",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Authentication Token, Active Team and Enabled Team Required**\n\nCreates an item to be stored in a merchant's catalog.\nDoesn't require any fields, but is recommended to give it a name and code.\nThe item uses `is_active`, `is_taxable`, `is_service` or `is_discount` to denote whether the item is actively sold, taxable, a service or discounted respectively.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "item": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "details": {
                  "type": "string"
                },
                "is_active": {
                  "type": "boolean"
                },
                "is_taxable": {
                  "type": "boolean"
                },
                "is_service": {
                  "type": "boolean"
                },
                "is_discount": {
                  "type": "boolean"
                },
                "price": {
                  "type": "number"
                },
                "in_stock": {
                  "type": "number"
                },
                "low_stock_alert": {
                  "type": "number"
                },
                "meta": {
                  "type": "object",
                  "properties": {}
                }
              },
              "example": {
                "item": "test item",
                "code": "aaaa",
                "category": "essential items",
                "details": "just a test item",
                "is_active": true,
                "is_taxable": false,
                "is_service": false,
                "is_discount": false,
                "price": 7.11,
                "in_stock": 0,
                "low_stock_alert": 3,
                "meta": {}
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/item/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "79256d84-3930-4e4b-bc71-9c6587cfc65c",
                "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                "thumbnail_id": null,
                "item": "meeseeks",
                "code": "aaaa",
                "details": "just a test item",
                "is_active": true,
                "is_taxable": false,
                "is_service": false,
                "is_discount": false,
                "price": 7.11,
                "in_stock": 0,
                "meta": [],
                "created_at": "2017-05-05 19:49:21",
                "updated_at": "2017-05-05 19:49:21",
                "deleted_at": null,
                "deprecation_warning": "The name and decription fiels will be deprecated on 7/1/17",
                "user": {
                  "id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                  "system_admin": false,
                  "name": "Test Guy",
                  "email": "demo@fattmerchant.com",
                  "email_verification_sent_at": "2017-03-29 15:27:19",
                  "email_verified_at": "2017-03-29 15:27:21",
                  "is_api_key": false,
                  "created_at": "2017-01-11 21:44:02",
                  "updated_at": "2017-04-24 15:41:58",
                  "deleted_at": null,
                  "gravatar": "//www.gravatar.com/avatar/157965dea7cd2f44e349382d1d791650",
                  "team_admin": null,
                  "team_enabled": null,
                  "team_role": null
                },
                "files": [],
                "thumbnail": null
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "id": [
                  "The item was not found"
                ]
              }
            }
          }
        },
        "summary": "Retrieve an Item by ID",
        "operationId": "Retrieve an Item by ID",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Authentication Token, Active Team and Enabled Team Required**\n\nRetrieves the merchant's item matching the given id and then returns details about the item found in the 200 response below.\nThis can be used in conjunction with `PUT /item/{id}` to edit the item.\nName and description fields will be deprecated on 07/01/17.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id value.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "4cddf784-55d4-4dcb-a266-1eb5af051e01",
                "user_id": "2d089742-6aca-462d-8db3-c2966e1f9e68",
                "merchant_id": "a61d78cc-cde9-44ac-8a18-30c39be05879",
                "thumbnail_id": null,
                "item": "test item",
                "code": "aaaa",
                "category": "essential items",
                "details": "just a test item",
                "is_active": true,
                "is_taxable": false,
                "is_service": false,
                "is_subscription": false,
                "is_discount": false,
                "price": 7.11,
                "in_stock": 0,
                "low_stock_alert": 3,
                "meta": [],
                "created_at": "2018-10-02 14:30:48",
                "updated_at": "2018-10-02 14:30:48",
                "deleted_at": null,
                "user": {
                  "id": "2d089742-6aca-462d-8db3-c2966e1f9e68",
                  "system_admin": true,
                  "name": "Morty Junior",
                  "email": "demo@fattmerchant.com",
                  "email_verification_sent_at": "2018-09-26 18:24:21",
                  "email_verified_at": "2016-05-11 17:13:33",
                  "is_api_key": false,
                  "acknowledgments": {
                    "signedApplication": true,
                    "editedOnboardingInformation": false,
                    "tutorial": true,
                    "godviewWelcome": true
                  },
                  "created_at": "2016-05-18 14:11:46",
                  "updated_at": "2018-09-26 18:24:21",
                  "deleted_at": null,
                  "gravatar": "//www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8",
                  "team_admin": null,
                  "team_enabled": null,
                  "team_role": null,
                  "merchant_options": [],
                  "is_default": false
                },
                "files": [],
                "thumbnail": null
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "item": [
                  "The item field is required."
                ]
              }
            }
          }
        },
        "summary": "Update an Item",
        "operationId": "Update an Item",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Authentication Token, Active Team and Enabled Team Required**\n\nUpdates/edits any existing catalog item that matches the given id.\nHas the same inputted body as `[POST /item]`.\nNone of the given parameters are required, but name and code are at least recommended.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "item": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "details": {
                  "type": "string"
                },
                "is_active": {
                  "type": "boolean"
                },
                "is_taxable": {
                  "type": "boolean"
                },
                "is_service": {
                  "type": "boolean"
                },
                "is_discount": {
                  "type": "boolean"
                },
                "price": {
                  "type": "number"
                },
                "in_stock": {
                  "type": "number"
                },
                "low_stock_alert": {
                  "type": "number"
                },
                "meta": {
                  "type": "object",
                  "properties": {}
                }
              },
              "example": {
                "item": "test item",
                "code": "aaaa",
                "category": "essential items",
                "details": "just a test item",
                "is_active": true,
                "is_taxable": false,
                "is_service": false,
                "is_discount": false,
                "price": 7.11,
                "in_stock": 0,
                "low_stock_alert": 3,
                "meta": {}
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id value.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/item/code": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": [
                "aaaa",
                "bbbb",
                null,
                "cccc",
                "fdaf"
              ]
            }
          }
        },
        "summary": "Retrieve All Item Codes",
        "operationId": "Retrieve All Item Codes",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Authentication Token, Active Team and Enabled Team Required**\n\nThe item code is merchant-side code used for business to keep track of their items.\nThis will retrieve all the different codes used by catalog items in a list.\nAny items without a code will return a `null`.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/item/{id}/increment": {
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "0a6c966c-6a70-44eb-aa26-673310ca65c0",
                "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                "thumbnail_id": null,
                "item": "Soap 2.0",
                "code": "aaaa",
                "details": "Even cleaner time",
                "is_active": true,
                "is_taxable": false,
                "is_service": false,
                "is_discount": false,
                "price": 7.11,
                "in_stock": 1,
                "meta": [],
                "created_at": "2017-05-05 20:13:12",
                "updated_at": "2017-05-05 20:15:55",
                "deleted_at": null,
                "deprecation_warning": "The name and decription fiels will be deprecated on 7/1/17",
                "user": {
                  "id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                  "system_admin": false,
                  "name": "Test guy",
                  "email": "demo@fattmerchant.com",
                  "email_verification_sent_at": "2017-03-29 15:27:19",
                  "email_verified_at": "2017-03-29 15:27:21",
                  "is_api_key": false,
                  "created_at": "2017-01-11 21:44:02",
                  "updated_at": "2017-04-24 15:41:58",
                  "deleted_at": null,
                  "gravatar": "//www.gravatar.com/avatar/157965dea7cd2f44e349382d1d791650",
                  "team_admin": null,
                  "team_enabled": null,
                  "team_role": null
                },
                "files": [],
                "thumbnail": null
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "id": [
                  "The item was not found"
                ]
              }
            }
          }
        },
        "summary": "Increment Item's Stock",
        "operationId": "Increment Item's Stock",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Authentication Token, Active Team and Enabled Team Required**\n\nIncreases the stock of an item.\nThis increases `in_stock` by quantity given in the body.\nCalled anytime the merchant wants to add more of an item to their inventory.\nCould only fail if no item is found.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "quantity": {
                  "type": "number"
                }
              },
              "example": {
                "quantity": 1
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id value.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/item/{id}/decrement": {
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "0a6c966c-6a70-44eb-aa26-673310ca65c0",
                "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                "thumbnail_id": null,
                "item": "Soap 2.0",
                "code": "aaaa",
                "details": "Even cleaner time",
                "is_active": true,
                "is_taxable": false,
                "is_service": false,
                "is_discount": false,
                "price": 7.11,
                "in_stock": -9,
                "meta": [],
                "created_at": "2017-05-05 20:13:12",
                "updated_at": "2017-05-05 20:16:21",
                "deleted_at": null,
                "deprecation_warning": "The name and decription fiels will be deprecated on 7/1/17",
                "user": {
                  "id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                  "system_admin": false,
                  "name": "Test Guy",
                  "email": "demo@fattmerchant.com",
                  "email_verification_sent_at": "2017-03-29 15:27:19",
                  "email_verified_at": "2017-03-29 15:27:21",
                  "is_api_key": false,
                  "created_at": "2017-01-11 21:44:02",
                  "updated_at": "2017-04-24 15:41:58",
                  "deleted_at": null,
                  "gravatar": "//www.gravatar.com/avatar/157965dea7cd2f44e349382d1d791650",
                  "team_admin": null,
                  "team_enabled": null,
                  "team_role": null
                },
                "files": [],
                "thumbnail": null
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "id": [
                  "The item was not found"
                ]
              }
            }
          }
        },
        "summary": "Decrement Item's Stock",
        "operationId": "Decrement Item's Stock",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Authentication Token, Active Team and Enabled Team Required**\n\nDecreases the stock of an item.\nDecreases `in_stock` by quantity given in the body.\nThis is to be called whenever less of an item is available, such as a customer purchasing the item.\nCould only fail if no item is found.",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "quantity": {
                  "type": "number"
                }
              },
              "example": {
                "quantity": 1
              }
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id value.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/charge": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {},
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The `id` of this transaction."
                },
                "invoice_id": {
                  "type": "string",
                  "description": "The id of the Invoice associated with this transaction (if any)."
                },
                "reference_id": {
                  "type": "string",
                  "description": "The id of the parent transaction. Will only be filled if this transaction is a child refund or void of a tranasction."
                },
                "schedule_id": {
                  "type": "string",
                  "description": "The id of the associated Schedule for this transaction (if any)."
                },
                "auth_id": {
                  "type": "string",
                  "description": "The if of the associated pre-auth transaction for this transaction (if this transaction is a `capture`)."
                },
                "recurring_transaction_id": {
                  "type": "string",
                  "description": "Deprecated. Do not use."
                },
                "type": {
                  "type": "string",
                  "description": "The `type` of this transaction. Possible values are `\"charge\", \"void\", \"refund\", \"credit\", \"pre_auth\", \"capture\"`."
                },
                "source": {
                  "type": "string",
                  "description": "The `source` of this transaction. Will be empty if this transaction originated in Omni, but will have a value if this transaction came from an external source such as a Terminal or Mobile Reader."
                },
                "merchant_id": {
                  "type": "string",
                  "description": "The id of the Merchant that owns this transaction."
                },
                "user_id": {
                  "type": "string",
                  "description": "The id of the User who made this transaction."
                },
                "customer_id": {
                  "type": "string",
                  "description": "The id of the Customer associated with this transaction."
                },
                "payment_method_id": {
                  "type": "string",
                  "description": "The id of the Payment Method associated with this transaction."
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether or not this transaction was successful."
                },
                "message": {
                  "type": "string",
                  "description": "The error message if this transaction was unsuccessful."
                },
                "meta": {
                  "type": "object",
                  "properties": {},
                  "description": "Metadata for this transaction (if any). Usually will only contain what you place into it when running POST /charge or similar calls."
                },
                "total": {
                  "type": "number",
                  "description": "The `total` of this transaction."
                },
                "method": {
                  "type": "string",
                  "description": "The `method` of this transaction. Possible values are `\"card\", \"bank\", \"cash\", \"check\", \"giftcard\"`."
                },
                "pre_auth": {
                  "type": "boolean",
                  "description": "Whether or not this transaction is a pre-authorization."
                },
                "last_four": {
                  "type": "string",
                  "description": "The `last_four` of the Payment Method card number for this transaction (if any)."
                },
                "receipt_email_at": {
                  "type": "string",
                  "description": "When the email receipt was sent for this transaction."
                },
                "receipt_sms_at": {
                  "type": "string",
                  "description": "When the sms receipt was sent for this transaction."
                },
                "settled_at": {
                  "type": "string",
                  "description": "When this transaction was settled."
                },
                "created_at": {
                  "type": "string",
                  "description": "When this transaction was created."
                },
                "updated_at": {
                  "type": "string",
                  "description": "When this transaction was last modified."
                },
                "issuer_auth_code": {
                  "type": "string",
                  "description": "The gateway authorization code for this transactions. Transactions originating outside of Omni may not have an `issuer_auth_code`."
                },
                "total_refunded": {
                  "type": "string",
                  "description": "The total amount of any refunds for this transaction (if any)."
                },
                "is_manual": {
                  "type": "boolean",
                  "description": "Whether or not this transaction was made for accounting purposes, such as a cash transaction."
                },
                "is_refundable": {
                  "type": "string",
                  "description": "Whether or not this transaction is refundable."
                },
                "is_voidable": {
                  "type": "string",
                  "description": "Whether or not this transaction is voidable."
                },
                "is_voided": {
                  "type": "string",
                  "description": "Whether or not this transaction is voided. (To see if a transaction is refunded, check that `total_refunded > 0`)"
                },
                "is_settling": {
                  "type": "boolean",
                  "description": "Whether or not this transaction is still settling. Will always be `null` for non-ACH transactions. May have a boolean value if this transaction was made on an ACH Gateway."
                },
                "child_transactions": {
                  "description": "Any child Transactions for this transaction. Examples of child transactions include refunds, voids, and captures (if this transaction is a pre-auth)."
                },
                "files": {
                  "description": "The Files attached to this transaction (if any)."
                },
                "customer": {
                  "type": "object",
                  "properties": {},
                  "description": "The Customer for this transaction."
                },
                "payment_method": {
                  "type": "object",
                  "properties": {},
                  "description": "The Payment Method for this transaction."
                },
                "user": {
                  "type": "object",
                  "properties": {},
                  "description": "The User for this transaction."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "566704dd-416a-4ae0-93a8-e81df7f79ba1",
                "invoice_id": "",
                "reference_id": "",
                "recurring_transaction_id": "",
                "auth_id": null,
                "type": "charge",
                "source": null,
                "source_ip": "127.0.0.1",
                "is_merchant_present": true,
                "merchant_id": "6eed6a43-fba3-4aeb-8f53-94df81e82be3",
                "user_id": "a01a5f74-cbdb-4704-9e9b-56fd5a8ee7b8",
                "customer_id": "78caa49b-3e57-440a-afbb-4c7965297624",
                "payment_method_id": "c22c93fd-a5c3-4feb-b7d2-6950e53fdd99",
                "is_manual": null,
                "success": false,
                "message": "Unable to process the purchase transaction.",
                "meta": {
                  "tax": 2,
                  "subtotal": 10
                },
                "total": 1,
                "method": "card",
                "pre_auth": false,
                "is_captured": 0,
                "last_four": "1881",
                "interchange_code": "",
                "interchange_fee": null,
                "batch_id": "",
                "batched_at": "2019-07-25 13:13:43",
                "emv_response": "",
                "avs_response": "",
                "cvv_response": "",
                "pos_entry": "",
                "pos_salesperson": "",
                "receipt_email_at": null,
                "receipt_sms_at": null,
                "settled_at": null,
                "created_at": "2019-07-25 18:13:43",
                "updated_at": "2019-07-25 18:13:43",
                "gateway_id": "231af4e4-e5a0-4cba-98f8-2bfb7badc0b8",
                "issuer_auth_code": null,
                "total_refunded": 0,
                "is_refundable": false,
                "is_voided": false,
                "is_voidable": false,
                "schedule_id": null,
                "child_captures": [],
                "parent_auth": null,
                "gateway_name": "test",
                "response": {
                  "on_test_gateway": true,
                  "created_at": "2019-07-25T18:13:43Z",
                  "updated_at": "2019-07-25T18:13:43Z",
                  "succeeded": false,
                  "state": "gateway_processing_failed",
                  "token": "aNZRAwf2v7814VIloNNgMzOJ8TU",
                  "transaction_type": "Purchase",
                  "order_id": "566704dd-416a-4ae0-93a8-e81df7f79ba1",
                  "ip": null,
                  "description": "",
                  "email": null,
                  "merchant_name_descriptor": "Other company",
                  "merchant_location_descriptor": "https://omni.fattmerchant.com",
                  "gateway_specific_fields": null,
                  "gateway_specific_response_fields": [],
                  "gateway_transaction_id": null,
                  "gateway_latency_ms": 22,
                  "amount": 100,
                  "currency_code": "USD",
                  "retain_on_success": true,
                  "payment_method_added": false,
                  "message": "Unable to process the purchase transaction.",
                  "gateway_token": "EtmNQvmL1MUipNNB6RKgY0fTtci",
                  "gateway_type": "test",
                  "response": {
                    "success": false,
                    "message": "Unable to process the purchase transaction.",
                    "avs_code": null,
                    "avs_message": null,
                    "cvv_code": null,
                    "cvv_message": null,
                    "pending": false,
                    "result_unknown": false,
                    "error_code": null,
                    "error_detail": null,
                    "cancelled": false,
                    "fraud_review": null,
                    "created_at": "2019-07-25T18:13:43Z",
                    "updated_at": "2019-07-25T18:13:43Z"
                  },
                  "shipping_address": {
                    "name": "Steven Smith Jr.",
                    "address1": null,
                    "address2": null,
                    "city": null,
                    "state": null,
                    "zip": null,
                    "country": null,
                    "phone_number": null
                  },
                  "api_urls": [
                    {
                      "referencing_transaction": []
                    }
                  ],
                  "payment_method": {
                    "token": "ONBwUMjQ0gIzXOsEQg8MX3bxQwd",
                    "created_at": "2019-07-25T18:13:32Z",
                    "updated_at": "2019-07-25T18:13:32Z",
                    "email": "demo@abc.com",
                    "data": {
                      "customer": "78caa49b-3e57-440a-afbb-4c7965297624",
                      "nickname": "VISA: Steven Smith Jr. (ending in: 1881)"
                    },
                    "storage_state": "retained",
                    "test": true,
                    "metadata": null,
                    "callback_url": null,
                    "last_four_digits": "1881",
                    "first_six_digits": "401288",
                    "card_type": "visa",
                    "first_name": "Steven Smith",
                    "last_name": "Jr.",
                    "month": 4,
                    "year": 2027,
                    "address1": null,
                    "address2": null,
                    "city": null,
                    "state": null,
                    "zip": "32944",
                    "country": "USA",
                    "phone_number": "9049626353",
                    "company": "ABC INC",
                    "full_name": "Steven Smith Jr.",
                    "eligible_for_card_updater": true,
                    "shipping_address1": null,
                    "shipping_address2": null,
                    "shipping_city": null,
                    "shipping_state": null,
                    "shipping_zip": null,
                    "shipping_country": null,
                    "shipping_phone_number": null,
                    "payment_method_type": "credit_card",
                    "errors": [],
                    "fingerprint": "73ae2e51e8f7f5177842661cc5451ef74328",
                    "verification_value": "XXX",
                    "number": "XXXX-XXXX-XXXX-1881"
                  }
                },
                "customer": {
                  "id": "78caa49b-3e57-440a-afbb-4c7965297624",
                  "firstname": "John",
                  "lastname": "Smith",
                  "company": "ABC INC",
                  "email": "demo@abc.com",
                  "cc_emails": [
                    "demo1@abc.com",
                    "demo2@abc.com"
                  ],
                  "cc_sms": [
                    "9202856700"
                  ],
                  "phone": "9049626353",
                  "address_1": "123 Rite Way",
                  "address_2": "Unit 12",
                  "address_city": "Orlando",
                  "address_state": "FL",
                  "address_zip": "32801",
                  "address_country": "USA",
                  "notes": "Reference:402320 Code:CCSM Zone:NWBC",
                  "reference": "BARTLE",
                  "options": null,
                  "created_at": "2019-05-15 14:06:29",
                  "updated_at": "2019-05-20 15:21:14",
                  "deleted_at": null,
                  "allow_invoice_credit_card_payments": true,
                  "gravatar": "//www.gravatar.com/avatar/fe3e929dd80f1653c3a4b82812660061"
                },
                "child_transactions": [],
                "files": [],
                "payment_method": {
                  "id": "c22c93fd-a5c3-4feb-b7d2-6950e53fdd99",
                  "customer_id": "78caa49b-3e57-440a-afbb-4c7965297624",
                  "merchant_id": "6eed6a43-fba3-4aeb-8f53-94df81e82be3",
                  "user_id": "a01a5f74-cbdb-4704-9e9b-56fd5a8ee7b8",
                  "nickname": "VISA: Steven Smith Jr. (ending in: 1881)",
                  "has_cvv": 1,
                  "is_default": 1,
                  "method": "card",
                  "person_name": "Steven Smith Jr.",
                  "card_type": "visa",
                  "card_last_four": "1881",
                  "card_exp": "042027",
                  "bank_name": null,
                  "bank_type": null,
                  "bank_holder_type": null,
                  "address_1": null,
                  "address_2": null,
                  "address_city": null,
                  "address_state": null,
                  "address_zip": "32944",
                  "address_country": "USA",
                  "purged_at": null,
                  "deleted_at": null,
                  "created_at": "2019-07-25 18:13:32",
                  "updated_at": "2019-07-25 18:13:32",
                  "meta": null,
                  "bin_type": null,
                  "card_exp_datetime": "2027-04-30 23:59:59",
                  "is_usable_in_vt": true,
                  "customer": {
                    "id": "78caa49b-3e57-440a-afbb-4c7965297624",
                    "firstname": "John",
                    "lastname": "Smith",
                    "company": "ABC INC",
                    "email": "demo@abc.com",
                    "cc_emails": [
                      "demo1@abc.com",
                      "demo2@abc.com"
                    ],
                    "cc_sms": [
                      "9202856700"
                    ],
                    "phone": "9049626353",
                    "address_1": "123 Rite Way",
                    "address_2": "Unit 12",
                    "address_city": "Orlando",
                    "address_state": "FL",
                    "address_zip": "32801",
                    "address_country": "USA",
                    "notes": "Reference:402320 Code:CCSM Zone:NWBC",
                    "reference": "BARTLE",
                    "options": null,
                    "created_at": "2019-05-15 14:06:29",
                    "updated_at": "2019-05-20 15:21:14",
                    "deleted_at": null,
                    "allow_invoice_credit_card_payments": true,
                    "gravatar": "//www.gravatar.com/avatar/fe3e929dd80f1653c3a4b82812660061"
                  }
                },
                "user": {
                  "id": "a01a5f74-cbdb-4704-9e9b-56fd5a8ee7b8",
                  "system_admin": true,
                  "name": "Daniel Walker",
                  "email": "demo@fattmerchant.com",
                  "email_verification_sent_at": "2018-05-31 20:22:05",
                  "email_verified_at": "2017-12-14 17:34:57",
                  "is_api_key": false,
                  "acknowledgments": {
                    "tutorial": true,
                    "editedOnboardingInformation": true,
                    "signedApplicationPowerform": true,
                    "godviewOmniSearchTooltip": true,
                    "godviewWelcome": true
                  },
                  "created_at": "2017-12-14 17:34:57",
                  "updated_at": "2018-07-02 21:51:45",
                  "deleted_at": null,
                  "brand": "fattmerchant",
                  "gravatar": "//www.gravatar.com/avatar/772cbf95746d7da86789cc3634c46ba8",
                  "team_admin": null,
                  "team_enabled": null,
                  "team_role": null,
                  "merchant_options": [],
                  "is_default": false
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The `id` of this transaction."
                },
                "invoice_id": {
                  "type": "string",
                  "description": "The id of the Invoice associated with this transaction (if any)."
                },
                "reference_id": {
                  "type": "string",
                  "description": "The id of the parent transaction. Will only be filled if this transaction is a child refund or void of a tranasction."
                },
                "schedule_id": {
                  "type": "string",
                  "description": "The id of the associated Schedule for this transaction (if any)."
                },
                "auth_id": {
                  "type": "string",
                  "description": "The if of the associated pre-auth transaction for this transaction (if this transaction is a `capture`)."
                },
                "recurring_transaction_id": {
                  "type": "string",
                  "description": "Deprecated. Do not use."
                },
                "type": {
                  "type": "string",
                  "description": "The `type` of this transaction. Possible values are `\"charge\", \"void\", \"refund\", \"credit\", \"pre_auth\", \"capture\"`."
                },
                "source": {
                  "type": "string",
                  "description": "The `source` of this transaction. Will be empty if this transaction originated in Omni, but will have a value if this transaction came from an external source such as a Terminal or Mobile Reader."
                },
                "merchant_id": {
                  "type": "string",
                  "description": "The id of the Merchant that owns this transaction."
                },
                "user_id": {
                  "type": "string",
                  "description": "The id of the User who made this transaction."
                },
                "customer_id": {
                  "type": "string",
                  "description": "The id of the Customer associated with this transaction."
                },
                "payment_method_id": {
                  "type": "string",
                  "description": "The id of the Payment Method associated with this transaction."
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether or not this transaction was successful."
                },
                "message": {
                  "type": "string",
                  "description": "The error message if this transaction was unsuccessful."
                },
                "meta": {
                  "type": "object",
                  "properties": {},
                  "description": "Metadata for this transaction (if any). Usually will only contain what you place into it when running POST /charge or similar calls."
                },
                "total": {
                  "type": "number",
                  "description": "The `total` of this transaction."
                },
                "method": {
                  "type": "string",
                  "description": "The `method` of this transaction. Possible values are `\"card\", \"bank\", \"cash\", \"check\", \"giftcard\"`."
                },
                "pre_auth": {
                  "type": "boolean",
                  "description": "Whether or not this transaction is a pre-authorization."
                },
                "last_four": {
                  "type": "string",
                  "description": "The `last_four` of the Payment Method card number for this transaction (if any)."
                },
                "receipt_email_at": {
                  "type": "string",
                  "description": "When the email receipt was sent for this transaction."
                },
                "receipt_sms_at": {
                  "type": "string",
                  "description": "When the sms receipt was sent for this transaction."
                },
                "settled_at": {
                  "type": "string",
                  "description": "When this transaction was settled."
                },
                "created_at": {
                  "type": "string",
                  "description": "When this transaction was created."
                },
                "updated_at": {
                  "type": "string",
                  "description": "When this transaction was last modified."
                },
                "issuer_auth_code": {
                  "type": "string",
                  "description": "The gateway authorization code for this transactions. Transactions originating outside of Omni may not have an `issuer_auth_code`."
                },
                "total_refunded": {
                  "type": "string",
                  "description": "The total amount of any refunds for this transaction (if any)."
                },
                "is_manual": {
                  "type": "boolean",
                  "description": "Whether or not this transaction was made for accounting purposes, such as a cash transaction."
                },
                "is_refundable": {
                  "type": "string",
                  "description": "Whether or not this transaction is refundable."
                },
                "is_voidable": {
                  "type": "string",
                  "description": "Whether or not this transaction is voidable."
                },
                "is_voided": {
                  "type": "string",
                  "description": "Whether or not this transaction is voided. (To see if a transaction is refunded, check that `total_refunded > 0`)"
                },
                "is_settling": {
                  "type": "boolean",
                  "description": "Whether or not this transaction is still settling. Will always be `null` for non-ACH transactions. May have a boolean value if this transaction was made on an ACH Gateway."
                },
                "child_transactions": {
                  "description": "Any child Transactions for this transaction. Examples of child transactions include refunds, voids, and captures (if this transaction is a pre-auth)."
                },
                "files": {
                  "description": "The Files attached to this transaction (if any)."
                },
                "customer": {
                  "type": "object",
                  "properties": {},
                  "description": "The Customer for this transaction."
                },
                "payment_method": {
                  "type": "object",
                  "properties": {},
                  "description": "The Payment Method for this transaction."
                },
                "user": {
                  "type": "object",
                  "properties": {},
                  "description": "The User for this transaction."
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "examples": {
              "application/json": {
                "payment_method_id": [
                  "The payment method id field is required."
                ],
                "meta": [
                  "The meta field is required."
                ],
                "total": [
                  "The total field is required."
                ],
                "files.0": [
                  "The selected files.0 is invalid."
                ]
              }
            }
          }
        },
        "summary": "Charge a Payment Method",
        "operationId": "Charge a Payment Method",
        "description": "_(please click this box ^^ for more information)_\n\n**Note: Authentication Token, Active Team and Enabled Team Required**\n\nCharge is a primary action of the API which posts to a backend processor for the merchant. \nA transaction record with type charge is created within the Fattmerchant database as a record of the charge.\nUsing the `payment_method_ID` and `total_cost`, a charge is processed under the merchant's account.\n\nFrom a processor standpoint, this operation is an auth and a capture represented by one transaction record (also called a purchase).\n\n**Chart of response statuses:**\n\n- Status 200 - transaction object (success = 1)\n\n- Status 422 - validation errors object. The transaction didn't reach a gateway\n\n- Status 400 - transaction object (success = 0). This was a gateway error\n    - The transaction didn't reach a gateway but there weren't validation errors\n    - `message` will have a cause (string)\n\n- Status 500 - unknown issue - please contact Fattmerchant\n    - an error we aren't accounting for\n\nPlease see the payment methods section for triggering success/fail based on card and bank account numbers.\n\n<a href=\"https://omni.fattmerchant.com/#/settings?initialTab=Webhooks\">This call will fire the `create_transaction` webhook.</a>.\n\n**Note about pre authorizations: [please see the guide here](https://fattmerchant.docs.apiary.io/#introduction/process-payments-from-server-side-with-api-key./pre-authorizations)**",
        "tags": [],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "e.g. application/json",
            "required": false,
            "x-example": "application/json",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/verify": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "2f2c2b7f-ae85-45af-8120-f05c242cedfe",
                "invoice_id": "",
                "reference_id": "",
                "recurring_transaction_id": "",
                "type": "pre_auth",
                "source": null,
                "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                "customer_id": "d45ee88c-8b27-4be8-8d81-77dda1b81826",
                "payment_method_id": "d3050b19-77d9-44ac-9851-b1d1680a7684",
                "is_manual": null,
                "success": true,
                "message": null,
                "meta": {
                  "tax": 2,
                  "subtotal": 10
                },
                "total": 1,
                "method": "card",
                "pre_auth": true,
                "last_four": "1111",
                "receipt_email_at": null,
                "receipt_sms_at": null,
                "created_at": "2017-05-08 20:24:28",
                "updated_at": "2017-05-08 20:24:28",
                "total_refunded": null,
                "is_refundable": false,
                "is_voided": true,
                "is_voidable": false,
                "schedule_id": null,
                "customer": {
                  "id": "d45ee88c-8b27-4be8-8d81-77dda1b81826",
                  "firstname": "John",
                  "lastname": "Smith",
                  "company": "ABC INC",
                  "email": "demo@abc.com",
                  "cc_emails": [
                    "demo1@abc.com",
                    "demo2@abc.com"
                  ],
                  "phone": "1234567898",
                  "address_1": "123 Rite Way",
                  "address_2": "Unit 12",
                  "address_city": "Orlando",
                  "address_state": "FL",
                  "address_zip": "32801",
                  "address_country": "USA",
                  "notes": null,
                  "reference": "BARTLE",
                  "options": "",
                  "created_at": "2017-05-08 19:22:51",
                  "updated_at": "2017-05-08 19:23:46",
                  "deleted_at": null,
                  "gravatar": "//www.gravatar.com/avatar/fe3e929dd80f1653c3a4b82812660061"
                },
                "child_transactions": [
                  {
                    "id": "612bc846-39b2-4e83-9795-34cd0c6abcff",
                    "invoice_id": "",
                    "reference_id": "2f2c2b7f-ae85-45af-8120-f05c242cedfe",
                    "recurring_transaction_id": "",
                    "type": "void",
                    "source": null,
                    "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                    "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                    "customer_id": "d45ee88c-8b27-4be8-8d81-77dda1b81826",
                    "payment_method_id": "d3050b19-77d9-44ac-9851-b1d1680a7684",
                    "is_manual": null,
                    "success": true,
                    "message": null,
                    "meta": {
                      "tax": 2,
                      "subtotal": 10
                    },
                    "total": 1,
                    "method": "card",
                    "pre_auth": false,
                    "last_four": "1111",
                    "receipt_email_at": null,
                    "receipt_sms_at": null,
                    "created_at": "2017-05-08 20:24:29",
                    "updated_at": "2017-05-08 20:24:29",
                    "total_refunded": null,
                    "is_refundable": false,
                    "is_voided": null,
                    "is_voidable": false,
                    "schedule_id": null,
                    "customer": {
                      "id": "d45ee88c-8b27-4be8-8d81-77dda1b81826",
                      "firstname": "John",
                      "lastname": "Smith",
                      "company": "ABC INC",
                      "email": "demo@abc.com",
                      "cc_emails": [
                        "demo1@abc.com",
                        "demo2@abc.com"
                      ],
                      "phone": "1234567898",
                      "address_1": "123 Rite Way",
                      "address_2": "Unit 12",
                      "address_city": "Orlando",
                      "address_state": "FL",
                      "address_zip": "32801",
                      "address_country": "USA",
                      "notes": null,
                      "reference": "BARTLE",
                      "options": "",
                      "created_at": "2017-05-08 19:22:51",
                      "updated_at": "2017-05-08 19:23:46",
                      "deleted_at": null,
                      "gravatar": "//www.gravatar.com/avatar/fe3e929dd80f1653c3a4b82812660061"
                    },
                    "child_transactions": [],
                    "files": [],
                    "payment_method": {
                      "id": "d3050b19-77d9-44ac-9851-b1d1680a7684",
                      "customer_id": "d45ee88c-8b27-4be8-8d81-77dda1b81826",
                      "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                      "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                      "nickname": "VISA: Steven Smith Jr. (ending in: 1111)",
                      "is_default": 1,
                      "method": "card",
                      "person_name": "Steven Smith Jr.",
                      "card_type": "visa",
                      "card_last_four": "1111",
                      "card_exp": "042019",
                      "bank_name": null,
                      "bank_type": null,
                      "bank_holder_type": null,
                      "address_1": null,
                      "address_2": null,
                      "address_city": null,
                      "address_state": null,
                      "address_zip": "32944",
                      "address_country": "USA",
                      "purged_at": null,
                      "deleted_at": null,
                      "created_at": "2017-05-08 19:41:03",
                      "updated_at": "2017-05-08 19:41:03",
                      "card_exp_datetime": "2019-04-30 23:59:59",
                      "customer": {
                        "id": "d45ee88c-8b27-4be8-8d81-77dda1b81826",
                        "firstname": "John",
                        "lastname": "Smith",
                        "company": "ABC INC",
                        "email": "demo@abc.com",
                        "cc_emails": [
                          "demo1@abc.com",
                          "demo2@abc.com"
                        ],
                        "phone": "1234567898",
                        "address_1": "123 Rite Way",
                        "address_2": "Unit 12",
                        "address_city": "Orlando",
                        "address_state": "FL",
                        "address_zip": "32801",
                        "address_country": "USA",
                        "notes": null,
                        "reference": "BARTLE",
                        "options": "",
                        "created_at": "2017-05-08 19:22:51",
                        "updated_at": "2017-05-08 19:23:46",
                        "deleted_at": null,
                        "gravatar": "//www.gravatar.com/avatar/fe3e929dd80f1653c3a4b82812660061"
                      }
                    },
                    "user": {
                      "id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                      "system_admin": false,
                      "name": "Demo",
                      "email": "demo@fattmerchant.com",
                      "email_verification_sent_at": "2017-03-29 15:27:19",
                      "email_verified_at": "2017-03-29 15:27:21",
                      "is_api_key": false,
                      "created_at": "2017-01-11 21:44:02",
                      "updated_at": "2017-04-24 15:41:58",
                      "deleted_at": null,
                      "gravatar": "//www.gravatar.com/avatar/157965dea7cd2f44e349382d1d791650",
                      "team_admin": null,
                      "team_enabled": null,
                      "team_role": null
                    }
                  }
                ],
                "files": [],
                "payment_method": {
                  "id": "d3050b19-77d9-44ac-9851-b1d1680a7684",
                  "customer_id": "d45ee88c-8b27-4be8-8d81-77dda1b81826",
                  "merchant_id": "dd36b936-1eb7-4ece-bebc-b514c6a36ebd",
                  "user_id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                  "nickname": "VISA: Steven Smith Jr. (ending in: 1111)",
                  "is_default": 1,
                  "method": "card",
                  "person_name": "Steven Smith Jr.",
                  "card_type": "visa",
                  "card_last_four": "1111",
                  "card_exp": "042019",
                  "bank_name": null,
                  "bank_type": null,
                  "bank_holder_type": null,
                  "address_1": null,
                  "address_2": null,
                  "address_city": null,
                  "address_state": null,
                  "address_zip": "32944",
                  "address_country": "USA",
                  "purged_at": null,
                  "deleted_at": null,
                  "created_at": "2017-05-08 19:41:03",
                  "updated_at": "2017-05-08 19:41:03",
                  "card_exp_datetime": "2019-04-30 23:59:59",
                  "customer": {
                    "id": "d45ee88c-8b27-4be8-8d81-77dda1b81826",
                    "firstname": "John",
                    "lastname": "Smith",
                    "company": "ABC INC",
                    "email": "demo@abc.com",
                    "cc_emails": [
                      "demo1@abc.com",
                      "demo2@abc.com"
                    ],
                    "phone": "1234567898",
                    "address_1": "123 Rite Way",
                    "address_2": "Unit 12",
                    "address_city": "Orlando",
                    "address_state": "FL",
                    "address_zip": "32801",
                    "address_country": "USA",
                    "notes": null,
                    "reference": "BARTLE",
                    "options": "",
                    "created_at": "2017-05-08 19:22:51",
                    "updated_at": "2017-05-08 19:23:46",
                    "deleted_at": null,
                    "gravatar": "//www.gravatar.com/avatar/fe3e929dd80f1653c3a4b82812660061"
                  }
                },
                "user": {
                  "id": "b58d7eee-e68d-4d12-a1f8-62f5e71382ae",
                  "system_admin": false,
                  "name": "Demo",
                  "email": "demo@fattmerchant.com",
                  "email_verification_sent_at": "2017-03-29 15:27:19",
                  "email_verified_at": "2017-03-29 15:27:21",
                  "is_api_key": false,
                  "created_at": "2017-01-11 21:44:02",
                  "updated_at": "2017-04-24 15:41:58",
                  "deleted_at": null,
                  "gravatar": "//www.gravatar.com/avatar/157965dea7cd2f44e349382d1d791650",
                  "team_admin": null,
                  "team_enabled": null,
                  "team_role": null
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The `id` of this transaction."
                },
                "invoice_id": {
                  "type": "string",
                  "description": "The id of the Invoice associated with this transaction (if any)."
                },
                "reference_id": {
                  "type": "string",
                  "description": "The id of the parent transaction. Will only be filled if this transaction is a child refund or void of a tranasction."
                },
                "schedule_id": {
                  "type": "string",
                  "description": "The id of the associated Schedule for this transaction (if any)."
                },
                "auth_id": {
                  "type": "string",
                  "description": "The if of the associated pre-auth transaction for this transaction (if this transaction is a `capture`)."
                },
                "recurring_transaction_id": {
                  "type": "string",
                  "description": "Deprecated. Do not use."
                },
                "type": {
                  "type": "string",
                  "description": "The `type` of this transaction. Possible values are `\"charge\", \"void\", \"refund\", \"credit\", \"pre_auth\", \"capture\"`."
                },
                "source": {
                  "type": "string",
                  "description": "The `source` of this transaction. Will be empty if this transaction originated in Omni, but will have a value if this transaction came from an external source such as a Terminal or Mobile Reader."
                },
                "merchant_id": {
                  "type": "string",
                  "description": "The id of the Merchant that owns this transaction."
                },
                "user_id": {
                  "type": "string",
                  "description": "The id of the User who made this transaction."
                },
                "customer_id": {
                  "type": "string",
                  "description": "The id of the Customer associated with this transaction."
                },
                "payment_method_id": {
                  "type": "string",
                  "description": "The id of the Payment Method associated with this transaction."
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether or not this transaction was successful."
                },
                "message": {
                  "type": "string",
                  "description": "The error message if this transaction was unsuccessful."
                },
                "meta": {
                  "type": "object",
                  "properties": {},
                  "description": "Metadata for this transaction (if any). Usually will only contain what you place into it when running POST /charge or similar calls."
                },
                "total": {
                  "type": "number",
                  "description": "The `total` of this transaction."
                },
                "method": {
                  "type": "string",
                  "description": "The `method` of this transaction. Possible values are `\"card\", \"bank\", \"cash\", \"check\", \"giftcard\"`."
                },
                "pre_auth": {
                  "type": "boolean",
                  "description": "Whether or not this transaction is a pre-authorization."
                },
                "last_four": {
                  "type": "string",
                  "description": "The `last_four` of the Payment Method card number for this transaction (if any)."
                },
                "receipt_email_at": {
                  "type": "string",
                  "description": "When the email receipt was sent for this transaction."
                },
                "receipt_sms_at": {
                  "type": "string",
                  "description": "When the sms receipt was sent for this transaction."
                },
                "settled_at": {
                  "type": "string",
                  "description": "When this transaction was settled."
                },
                "created_at": {
                  "type": "string",
                  "description": "When this transaction was created."
                },
                "updated_at": {
                  "type": "string",
                  "description": "When this transaction was last modified."
                },
                "issuer_auth_code": {
                  "type": "string",
                  "description": "The gateway authorization code for this transactions. Transactions originating outside of Omni may not have an `issuer_auth_code`."
                },
                "total_refunded": {
                  "type": "string",
                  "description": "The total amount of any refunds for this transaction (if any)."
                },
                "is_manual": {
                  "type": "boolean",
                  "description": "Whether or not this transaction was made for accounting purposes, such as a cash transaction."
                },
                "is_refundable": {
                  "type": "string",
                  "description": "Whether or not this transaction is refundable."
                },
                "is_voidable": {
                  "type": "string",
                  "description": "Whether or not this transaction is voidable."
                },
                "is_voided": {
                  "type": "string",
                  "description": "Whether or not this transaction is voided. (To see if a transaction is refunded, check that `total_refunded > 0`)"
                },
                "is_settling": {
                  "type": "boolean",
                  "description": "Whether or not this transaction is still settling. Will always be `null` for non-ACH transactions. May have a boolean value if this transaction was made on an ACH Gateway."
                },
                "child_transactions": {
                  "description": "Any child Transactions for this transaction. Examples of child transactions include refunds, voids, and captures (if this transaction is a pre-auth)."
                },
                "files": {
                  "description": "The Files attached to this transaction (if any)."
                },
                "customer": {
                  "type": "object",
                  "properties": {},
                  "description": "The Customer for this transaction."
                },
                "payment_method": {
                  "type": "object",
                  "properties": {},
                  "description": "The Payment Method for this transaction."
                },
                "user": {
                  "type": "object",
                  "properties": {},
                  "description": "The User for this transaction."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "examples": {
              "application/json": {
                "id": "11cff7fc-49fb-4fb4-9053-b3e10dcb6393",
                "invoice_id": "",
                "reference_id": "",
                "recurring_transaction_id": "",
                "type": "pre_auth",
                "merchant_id": "27fad5e4-0210-4c91-9596-417b0ea0dbb1",
                "user_id": "d1309183-a491-450b-996c-a8502fe02375",
                "customer_id": "b1757304-1bfb-4224-aab6-b8cc2aaccacf",
                "payment_method_id": "958d8452-f07b-4aa7-b109-1be36bf5f93f",
                "is_manual": null,
                "success": 0,
                "message": "Unable to process the authorize transaction.",
                "meta": {
                  "tax": 2,
                  "subtotal": 10
                },
                "total": 1,
                "method": "card",
                "pre_auth": 1,
                "last_four": "1881",
                "receipt_email_at": null,
                "receipt_sms_at": null,
                "created_at": "2016-06-06 14:32:52",
                "updated_at": "2016-06-06 14:32:53",
                "total_refunded": null,
                "is_voided": null,
                "customer": {
                  "id": "b1757304-1bfb-4224-aab6-b8cc2aaccacf",
                  "firstname": "Duff",
                  "lastname": "Smith",
                  "company": "ABC INC",
                  "email": "john@abc.com",
                  "phone": "1234567898",
                  "address_1": "123 Rite Way",
                  "address_2": "Unit 12",
                  "address_city": "Orlando",
                  "address_state": "FL",
                  "address_zip": "32801",
                  "address_country": "USA",
                  "notes": null,
                  "options": "",
                  "created_at": "2016-06-06 13:55:15",
                  "updated_at": "2016-06-06 13:55:15",
                  "deleted_at": null,
                  "gravatar": "//www.gravatar.com/avatar/144fa42eb34883ecb00cbc3f81a060a1"
                },
                "child_transactions": [],
                "payment_method": {
                  "id": "958d8452-f07b-4aa7-b109-1be36bf5f93f",
                  "customer_id": "b1757304-1bfb-4224-aab6-b8cc2aaccacf",
                  "merchant_id": "27fad5e4-0210-4c91-9596-417b0ea0dbb1",
[...]
